:root[lwt-newtab-brighttext] {
  color-scheme: dark;
  --newtab-background-color: #011627 !important;
  --newtab-background-color-secondary: #011627 !important;
}

.search-handoff-button,
.search-wrapper input {
  border-radius: 30px !important;
  box-shadow: 0 0 40px 10px rgba(0, 255, 255, 1) !important;
  border: 1px solid #00FFFF !important;
}

.top-site-outer .tile,
.card {
  box-shadow: 0 0 10px 1px rgba(0, 255, 255, 1) !important;
  background-color: var(--newtab-background-color-secondary) !important;
}

@media not (prefers-contrast) {
  html.private {
    --in-content-page-background: #011627 !important;
  }
}