:root {
  color-scheme: dark;
  --newtab-background-color: #011627 !important;
  --newtab-background-color-secondary: #011627 !important;
  --sidebar-background-color: #011627 !important;
  --toolbox-bgcolor: #011627 !important;
  --button-hover-bgcolor: rgb(1, 15, 25) !important;
  --tab-selected-outline-color: rgb(0, 255, 255) !important;
  --tab-selected-bgcolor: transparent !important;
  --arrowpanel-background: rgb(1, 22, 39) !important;
  --toolbarbutton-border-radius: 15px !important;
  --toolbar-bgcolor: #011627 !important;
}

#urlbar-background,
#searchbar {
  border: 2px solid rgb(0, 255, 255) !important;
  background-color: rgb(1, 15, 25) !important;
}


#navigator-toolbox {
  background-color: #011627 !important;
}

#unified-extensions-button>image:nth-child(1) {
  border-radius: 0px !important;
}
